@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

 @font-face {
      font-family: 'icon'; /* Choose a descriptive name for your font */
      src: url('../../public/Kihim_Complete/Kihim_Complete/Fonts/OTF/Kihim-Regular.otf') format('opentype');
      font-weight: normal; /* Optional: specify font weight */
      font-style: normal; /* Optional: specify font style */
      /* Other optional descriptors like font-display, unicode-range, etc. */
    }

.icon{
  font-family: 'icon',sans-serif;
}

*{

 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  transition: all 0.5s ease;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

}

.gradient{
  /* background: linear-gradient(black 60%, transparent 40%); */
}

.left_image{
  background-image: url('../../public/Professional Discussion.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}